a {
    color: black;
    text-decoration-line: none;
}


/* début */

body {
    width: 100%;
    height: 100%;
}

sup{
vertical-align: super;
font-size: smaller;}


/* entete */

.entete {
    width: 100%;
    height: 10vh;
    border-bottom: 0px solid rgb(255, 94, 0);
    font-size: 16px;
    color: black;
    background-color: transparent;

    
}

.entete div {
    float: left;
}

.etoile {
    width: 8%;
    height: 100%;
    font-size: 100px;
    line-height: 70px;
    align-content: center;
    text-align: center;
    border-right: 1px solid rgb(255, 94, 0);
    color: black;
        background: rgba(0, 0, 0, 0) linear-gradient(0deg, white, whitesmoke 50%) repeat scroll 0% 0%;
}

.etoile:hover {
    background: linear-gradient(to right, rgb(255, 94, 0), rgb(255, 94, 0), yellow, green, cyan, blue, violet, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;      
}

.entete_contenant {
    width: 92%;
    height: 100%;
    border-bottom: 1px solid rgb(255, 94, 0);
        background: rgba(0, 0, 0, 0) linear-gradient(0deg, white, whitesmoke 50%) repeat scroll 0% 0%;
}

.entete_menu {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-decoration: underline 1px;
}

a:hover {
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 94, 0), rgb(255, 94, 0), yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.entete_info {
    width: 100%;
    height: 40%;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 10px;
}

a:hover {
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    background: -webkit-linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.licence oifl {
    font-family: 'dindong';
    padding: 15px;
    top: 100 px;
    float: left;
    max-width: 100%;
    height: 100vh;
    overflow: scroll;
    border-right: 1px solid rgb(255, 94, 0);
    font-size: 5vh;
}


.contenu {
    font-size: 2em;
    line-height:1.1em;
    font-family: 'dindong';
    letter-spacing: normal;
    padding: 15px;
    float: left;
    max-width: 100%;
    height: 100vh;
    overflow: scroll;
    border-right: 1px solid rgb(255, 94, 0);
}



/* pied */
