.adelphe, #adelphe:hover {
    font-family: 'adelphe';
}
@font-face {
    font-family: 'adelphe';
    src: url(../fontes/AdelpheVF.woff2) format('woff2'),
         url(../fontes/AdelpheVF.woff) format('woff');
}

.baskervvol, #baskervvol:hover {
    font-family: 'baskervvol';
}
@font-face {
    font-family: 'baskervvol';
    src: url(../fontes/BBBBaskervvol-Fondue.woff2) format('woff2');
    src: url(../fontes/BBBBaskervvol-Fondue.woff) format('woff');
}

.cirrus, #cirrus:hover {
    font-family: 'cirrus';
}
@font-face {
    font-family: 'cirrus';
    src: url(../fontes/CirrusCumulus.otf) format('opentype');
}

.combine, #combine:hover {
    font-family: 'combine';
}
@font-face {
    font-family: 'combine';
    src: url(../fontes/Combine.otf) format('opentype');
}

.dindong, #dindong:hover {
    font-family: 'dindong';
}
@font-face {
    font-family: 'dindong';
    src: url(../fontes/DINdong.otf) format('opentype');
}

.homoneta, #homoneta:hover {
    font-family: 'homoneta';
}
@font-face {
    font-family: 'homoneta';
    src: url(../fontes/Homoneta-Regular.woff) format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'homoneta';
    src: url(../fontes/Homoneta-Italic.woff) format('woff');
    font-style: italic;

}

.josa, #josa:hover {
    font-family: 'josa';
}
@font-face {
    font-family: 'josa';
    src: url(../fontes/Josafronde-Regular.otf) format('opentype');
}

.LS-VG5000, #ls-vg5000:hover {
    font-family: 'LS-VG5000';
}
@font-face {
    font-family: 'LS-VG5000';
    src: url(../fontes/ls-vg5000trial-regular-webfont.woff) format('opentype');
}


.picnic, #picnic:hover {
    font-family: 'PicNic';
}
@font-face {
    font-family: 'PicNic';
    src: url(../fontes/PicNic-Regular.woff) format('woff');
}
