/* RÉ-INITIALISATIONS BROWSERS */
* {
    margin: 0;
    padding: 0;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}
/* ↑ RÉ-INITIALISATIONS BROWSERS ↑ */

/*VARIABLES COULEURS*/
:root {
    --color-one: yellow;
    --color-two: lightsalmon;
    --color-three: mediumslateblue;
    --color-four: mistyrose;
    --color-five: mediumturquoise;
  } */
  
/* GÉNÉRAL */
html{
  width: 100vw !important;
  margin: 0;
  overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

a, a:active, a:link, a:focus, a:visited{
    color: black;
    text-decoration-line: none; 
}
a:focus {
    color: white;
    background-color: var(--color-three);
}

a:hover {
/*    text-transform: uppercase; */
    cursor: pointer;
    background: linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
    background: -webkit-linear-gradient(to right, to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise); 
    /* background: linear-gradient(to right, orange, yellow, green, cyan, blue, green, violet, green, orange, yellow, green, cyan);
    background: -webkit-linear-gradient(to right, orange, yellow, green, cyan, blue, green, violet, green, orange, yellow, green, cyan);  */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;

}
sup {
    vertical-align: super;
    font-size: smaller;
}

li{
    margin: 1em 0 0 1em;
}

li:before{
    content: "*";
    padding: 0px 20px 0px 0px;
    font-size: 50px;
}

.contenu {
    margin: 0rem 0rem 0rem 4rem;
}

iframe {
    width: 100%;
    border: 1px solid black;
}

h2.page-outils {
    margin-bottom: 20px;
}

img.page-outils {
    margin: 3rem 0rem 1rem 8rem;
    max-width: 66%;
}

figcaption.page-outils {
    font-size: 70%;
    margin: 0rem 0rem 2rem 4rem;
}

h3 {
    font-size: 125%;
    margin: 1rem 0rem .5rem 4rem;
}

.side {
    margin: 0rem 20rem 0rem 20rem;
}

h1.side {
    font-size: 160%;
    margin: 10rem 0rem 1rem 16rem;
}

h4.side {
    font-size: 125%;
    margin: 3rem 0rem 1rem 18rem;
}

strong {
    text-decoration: underline dotted;
}

ul.side {
    margin: 0rem 0rem 2rem 0rem;
}

li.side {
    margin: 0rem 0rem 0rem 24rem;
}

/* entete */

/* entete */
.entete {
    position: relative;
    display: flex;
    width: 100%;
    height: max-content;
    color: black;
}
.entete div {
    float: left;
}
.background_entete{
    background: linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
    background: -webkit-linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
    /* background: linear-gradient(to right, orange, yellow, green, cyan, blue, green, violet, orange, pink, yellow, green, cyan, blue, green, violet);
    background: -webkit-linear-gradient(to right, orange, yellow, green, cyan, blue, green, violet, orange, pink, yellow, green, cyan, blue, green, violet); */
    height: 43px;
    width: 100%;
}

.home .background_entete{
    height: 40px !important;
}

.etoile {
    height: 41px;
    font-size: 70px;
    line-height: 22px;
    padding: 20px;
    padding-bottom: 0px;
    align-content: center;
    text-align: center;
    border-right: 1px solid mediumslateblue;
    border-bottom: 1px solid mediumslateblue);
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, white, whitesmoke 50%) repeat scroll 0% 0%;
    color: black;
    height: fit-content;
}
.home .etoile{
    padding: 20px;
    padding-bottom: 0px;
    font-size: 100px;
    line-height: 70px;
}

.etoile:hover {
    background: linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
    background: -webkit-linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
}
.entete_contenant {
    width: 100%;
    height: fit-content;
    background: rgba(238, 18, 18, 0) linear-gradient(0deg, white, whitesmoke 50%) repeat scroll 0% 0%;
}

.home .entete_contenant {
    border-bottom: none;
}

.home .entete_menu {
    box-sizing: border-box;
    width: calc(100% - 70px);
    height: fit-content !important;
    display: flex;
    justify-content: space-around;
    text-decoration: underline 1px;
    /*background: rgba(0, 0, 0, 0) linear-gradient(0deg, white, whitesmoke 50%) repeat scroll 0% 0%;*/
    font-size: 20px;
}

.entete_menu {
    position: absolute;
    width: calc(100% - 68px) !important;
    height: calc(100% - 1px) !important;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-around;
    text-decoration: underline 1px;
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, white, whitesmoke 50%) repeat scroll 0% 0%;
}
.entete_menu p{
    height: 1em;
}
.entete_info {
    width: 100%;
    height: 40%;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    margin-bottom: 1px;
    line-height: 1.3;
}

.entete_info a{
  text-decoration: underline;
}

/* entete SPÉCIFIQUE À LA PAGE HOME */
.entete.home {
    width: 100%;
    height: max-content;
    border-bottom: 1px solid mediumslateblue;
    color: black;
    display: flex;
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, white, whitesmoke 50%) repeat scroll 0% 0%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: auto;
    font-size: 20vh;
    text-align: center;
}

.home .etoile{
    border:none;
}

.home .etoile :hover {
    background: linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
    background: -webkit-linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home p {
    height: fit-content;
}
.home .entete_contenant {
    border-left: 1px solid mediumslateblue;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
}
.home .entete_info {
    width: 100%;
    height: max-content;
    padding: 10px;
}
.home .entete_menu p{
    line-height: 19px;
    padding: 10px 0px 10px 10px;
}

/* listing typo */
.listing {
    /*box-shadow: 6px 6px 10px blue; */
    font-size: 20px;
}

/* .listing_menu{
    border-bottom: 1px solid rgb(255, 94, 0);
} */

.listing_menu table {
    width: 100%;
    height: 5px;
}

.menu_champs {
    border-bottom: 1px solid linear-gradient(0deg, white, whitesmoke 50%);
}

.menu_champs:hover {
    cursor: default;
    text-transform: none;
}

.red {
    background: linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
    background: -webkit-linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
}


#gradient{
    height: 1px !important;
    width: 100%;
    background: linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
    background: -webkit-linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
}
#gradient td{
    padding: 0;
}
tr:last-child{
    border-bottom: none;
}

td {
    padding: 10px;
}

.listing_menu. tr:hover {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
}

.nom, .licence, .annee {
    width: 20%;
    padding-left: 18px;
}
.auteurixces {
    width: 30%;
}

/* HOME preview fontes et glyphes */
.preview-home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.case-glyphes {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 41vh;
    overflow: hidden;
    border-right: 1px solid mediumslateblue;
    border-bottom: 1px solid mediumslateblue;
}
.split, .gutter.gutter-horizontal {
    float: left;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
}
.case-glyphes div {
    padding: 5px;
}
.case-glyphes-header {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, white, whitesmoke 50%) repeat scroll 0% 0%;
    width: 100%;
    border-bottom: 1px solid mediumslateblue;
    margin-top: 0px;
    min-height: 40px;
    display: flex;
}
.case-glyphes-header div {
    font-size: 20px;
    width: 50%;
    color: black;
}
.case-glyphes-header div:nth-child(2) {
    text-align: right;
}

/* PAGES */
.page-auteurixces, .page-dindong, .page-licence, .page-nous, .page-outils {
}

.page-auteurixces .contenu, .page-licence .contenu{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
  line-height: 1.2;
}


.page-auteurixces .contenu p, .page-licence .contenu p{
  width: 80%;
}

.page-licence li {
    width: 80%;
    
}

.contenu {
    font-size: 2em;
    line-height:1.1em;
    font-family: 'dindong';
    letter-spacing: normal;
    padding: 15px;
    float: left;
    max-width: 100%;
}
.contenu h2 {
    padding: 30px 0 15px 0;
    font-size: 50px;
    line-height: 70px;
}
.contenu p {
    padding: 15px 0 15px 0;
}

.case-glyphes .slideshow-container .glyphs{
}
.case-glyphes .slideshow-container .glyphs p{
    font-size: 90px;
}

/* PAGES FONTES */
.info-page-fonte {
    text-align: right;
}
.info-page-fonte-show {
    display: none;
}


/* listing showroom */


.showroom_container {
    position: absolute;
    top: 40px;
    width: 100vw;
    height: 96vh;
    border-top: 1px solid mediumslateblue;
    /* border-top: 1px solid linear-gradient(90deg, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise); */

}

.listing_showroom {
    width: 100%;
    font-family: 'dindong';
}

.showroom {
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    max-width: 50%;
    height: 96vh;
}

#showgauche {}

#showroomdroite {
    border-left: 1px solid mediumslateblue;
    width: 100%;
}

.showroom_headergauche div {
    font-size: 20px;
    color: black;
    /* float: left; */
    width: auto;
    padding-top: 2.5px;
    flex-grow: 6;
    padding: 13px;
}

.showroom_headergauche {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, white, whitesmoke 50%) repeat scroll 0% 0%;
    width: 100%;
    height: 4vh;
    border-bottom: 1px solid mediumslateblue;
    margin-top: 0px;
    min-height: 40px;
    /* padding: 10px; */
    z-index: 2;
    position: relative;
    display: flex;
}

.showroom_headergauche .bouton{
  background-color: white;
  border-left: 1px solid mediumslateblue;
  text-align: center;
  cursor: pointer;
}

.showroom_headergauche .bouton:hover{
  background-color: mistyrose;
}

.styleon{
  background-color: mistyrose !important;
}

.germinal{
  font-feature-settings: 'ss01' 0 ;
  font-feature-settings: 'ss02' 0 ;
}

.floreal{
  font-feature-settings: 'ss01' 1 ;
}

.fructidor{
  font-feature-settings: 'ss02' 1 ;
}

.regular{
  font-variation-settings: 'wght' 400 ;
  font-style: normal;
}

.bold{
  font-variation-settings: 'wght' 695 ;
}

.italic{
  font-style: italic;
}


.texte {
    padding: 10px;
    height: 42vh;
    overflow: scroll;
}
.texte .slideshow-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.showroom .top p{
    font-size: 300px;
    height: 280px;
}

.texte:last-child {
    height: 48vh;
}

#texte1 {
    float: left;
    font-size: 2vh;
    width: 30%;
    border-bottom: 1px solid mediumslateblue;
    border-right: 1px solid mediumslateblue;
    line-height: 1.2;
}

#texte2 {
    top: 100px;
    float: right;
    font-size: 6vh;
    width: 70%;
    border-bottom: 1px solid mediumslateblue;
    border-right: 0, 5px solid mediumslateblue;
    line-height: 1.1;
}

#texte3 {
    float: left;
    font-size: 15vh;
    width: 100%;
    border-right: 0, 5px solid mediumslateblue;
    line-height: 0.9;
    padding-top: 1rem;
}

#texte4 {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid mediumslateblue;
    border-right: 0, 5px solid mediumslateblue;
    white-space: nowrap;
    line-height: 25vh;
    text-align: center;
}

#texte4basker {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid mediumslateblue;
    border-right: 0, 5px solid mediumslateblue;
    white-space: nowrap;
    line-height: 40vh;
    text-align: center;
    z-index: 1;
    position: relative;
}

#texte4josa {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid mediumslateblue;
    border-right: 0, 5px solid mediumslateblue;
    white-space: nowrap;
    line-height: 10vh;
    text-align: center;
}

#texte4cirrus {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid mediumslateblue;
    border-right: 0, 5px solid mediumslateblue;
    white-space: nowrap;
    line-height: 25vh;
    text-align: center;
}

#texte4dindong,
#texte5dindong{
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid mediumslateblue;
    border-right: 0, 5px solid mediumslateblue;
    white-space: nowrap;
    line-height: 35vh;
    text-align: center;
}

#texte5 {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-right: 0, 5px solid;
    align-items: center;
    justify-content: center;
    line-height: 35vh;
    text-align: center;
}

#texte5basker {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-right: 0, 5px solid;
    align-items: center;
    justify-content: center;
    line-height: 51vh;
    text-align: center;
}

#texte5josa {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-right: 0, 5px solid;
    align-items: center;
    justify-content: center;
    line-height: 50vh;
    text-align: center;
}

#texte5homo {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-right: 0, 5px solid;
    align-items: center;
    justify-content: center;
    line-height: 25vh;
    text-align: center;
}

#barre_bas{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: auto;
  border-top: 1px solid mediumslateblue;
  background-color: white;
  display: flex;
  /* padding-left: 9px; */
}

#barre_bas a{
  flex-grow: 5;
  padding: 16px 12px 12px 12px;
  border-right: 1px solid mediumslateblue;
  text-align: center;
}

#barre_bas a:hover{
  color: black !important;
  background-color: mistyrose !important;
  background: black;
  -webkit-background-clip: none;
  -webkit-text-fill-color: black;
}

#barre_bas #dernier{
  border-right: none;
}


/* SLIDING GLYPHS */

.case-glyphes .slideshow-container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 81%;
    user-select: none;
}

.mySlides {
    display: none;
}

.invisible {
    display: none;
}
.top {
    display: block;
}

.prev, .next {
    cursor: pointer;
    width: 100%;
    width: auto;
    font-size: 20px;
    font-style: normal !important;
}

.case-glyphes .slideshow-container .prev{
    position: absolute;
    padding: 5px;
    font-style: normal !important;
}
.case-glyphes .slideshow-container .next{
    position: absolute;
    padding: 5px;
    font-style: normal !important;
}

.baskervvol .slideshow-container .prev{
    padding-top: 12px !important;
    padding: 5px;
    font-style: normal !important;
}
.baskervvol .slideshow-container .next{
    padding-top: 10px !important;
    padding: 5px;
    font-style: normal !important;
}


/* Position the "next button" to the right */

.tableau{
    font-family: "Verdana";
    font-size: 15px;
    line-height: 1.3;
}

.prev {
    position: absolute;
    left: 0;
}
.next {
    position: absolute;
    right: 0;
}

/* TABLEAU */

#header{
    text-align: left;
}

.header_cells{
    padding: 5px;
    background-color: black;
}

.tableau th{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-right: 1px mistyrose solid;
    border-top: 1px mistyrose solid;
    font-style:normal;
    font-weight:bold;
    color:rgb(255,255,255);
  }

.tableau th span{
  font-size: 12px;
  font-weight: normal;
}

.tableau .boutons {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
}
.tableau .boutons div {
    padding: 5px;
    border: 2px solid mistyrose;
    border-radius: 20px;
    margin: 2px;
    display: inline-block;
}
.tableau .boutons div.selectionne {
    background-color: black;
    color: mistyrose;
}
.tableau .boutons div.selectionne-border {
    border: 2px solid black;
}
.tableau .base.color, .base-show, .base.color td {
    background-color: mistyrose;
}
.color td {
    color: black;
}
.tableau .non-binaire.color, .non-binaire-show, .non-binaire.color td {
    background-color: mediumturquoise;
}
.tableau .fondue.color, .fondue-show, .fondue.color td {
    background-color: lightsalmon;
}
.tableau .acadam.color, .acadam-show, .acadam.color td {
    background-color: yellow;
}
.tableau .diacritique.color, .diacritique-show, .diacritique.color td {
    background-color: mediumslateblue;
}
.tableau table {
    border-top: 1px solid mistyrose;
    table-layout: fixed;
    position: relative;
    border-collapse: collapse;
}
.tableau td {
    word-wrap:break-word;
    border-right: 1px solid mistyrose;
    border-bottom: 1px solid mistyrose;
}
/* TABLEAU > sélections :D */
.unicode {
    cursor: pointer;
}
.unselected {
    user-select: none;
}
.unselected td, .unselected.base.color td {
    color: grey;
    background-color: lightgrey;
}
.unselected td:nth-child(1) {
    color: grey;
}
.BBBaskervvol {
    font-family: "baskervvol";
    overflow: hidden;
    white-space: nowrap;
}

/* Page licences */
#oifl {
    margin-top: 30px;
    font-size: 80%;
    background-color: mistyrose;
    padding: 15px;
}




/* PAGE QUNI*/

#sommaire a {
    color:mediumslateblue;
}
#sommaire p {
    text-indent:3em;
    padding: 0px;
}

#bouton-haut-de-page {
    position: fixed;
    right: 20px;
    top: 50px;
    font-size: 50px;
    padding: 10px;
}

/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 1300px) {
    .case-glyphes {
        width: 25%;
    }
}
@media screen and (max-width: 800px) {
    .case-glyphes {
        width: 33.33333%;
    }
}
@media screen and (max-width: 480px) {
    .case-glyphes {
        width: 100%;
    }
}

/* IMPRESSION */

@media print {

}

@page {
    size: 210mm 297mm;
    margin: none;
}
